* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  /* background-color: #73946B; */
  background-color: #D2D0A0;
  /* color: #9EBC8A; */
  color: #537D5D;

}
.nav ul {
  
  list-style: none;
  display: flex;
  /* gap: 16px; */
  
}

.nav ul li {
  list-style-type: none;
  
}
.nav li a {
  text-decoration: none;
  color: #537D5D;
  font-size: 1.25rem;
  text-transform: capitalize;
  letter-spacing: 1px;
  padding: 16px;
  
}
.nav li a:hover {
  background-color: #537D5D;
  color: #fff;
}

.nav ul li:first-child {
  margin-right: auto;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  backdrop-filter: blur(10px);
  background-color: #fff;
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  transition: right 0.4s ease-in-out;
  
}

/* Close icon container aligned to right */
.close {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.sidebar img {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  width: 100%;
}

.sidebar li {
  width: 100%;
}

.sidebar li a {
  display: block;
  width: 100%;
  text-decoration: none;
  border-bottom: 1px solid #73946B;
  padding: 16px 8px;
  margin: 5px 0;
  color: #537D5D;
  font-weight: 500;
}

.sidebar li a:hover {
  background-color: #D2D0A0;

}
.menu {
  display: none;
}

.logo {
  font-weight: 800;
  letter-spacing: 2px;

}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #537D5D;
  color: #fff;
}
.clock-container {
  position: relative;
}

.clock {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.25);
  box-shadow: 0 0 30px #D2D0A0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock span {
  position: absolute;
  transform: rotate(calc(30deg * var(--i)));
  inset: 12px;
  text-align: center;
}
.clock span b{
  transform: rotate(calc(-30deg * var(--i)));
  display: inline-block;
  font-size: 1.2rem;
}


.clock::before{
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #fff;
}
.hand{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.hand i{
  position: absolute;
  background-color: var(--clr);
  width: 4px;
  height: var(--h);
  border-radius: 8px;
}

.digital-cont {
  display: flex;
  flex-direction: column;
}
.digital-cont h1 {
  letter-spacing: 8px;
  padding: 16px 0;
  text-align: center;
}
.dig-clock {
  display: flex;
  
  
}
.dig-clock div {
  position: relative;
  margin: 4px;

}
.dig-clock span {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  width: 100px;
  height: 84px;
  background-color: #9EBC8A;
  font-size: 2.75rem;
  font-weight: bold;
  
}

#text {
  height: 33px;
  font-size: 1rem;
  background-color: #73946B;
  font-weight: 500;
}

@media (max-width: 550px) {
  .menu {
    display: block;
  }
  .nav {
    display: none;
  }
  
}