* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  background-color: darkslategray;
  color: #fff;

}
.nav ul {
  list-style: none;
  display: flex;
  gap: 16px;
  color: #fff;
}

.nav ul li {
  list-style-type: none;
  
}
li a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  text-transform: capitalize;
  letter-spacing: 1px;
  
}
.logo {
  font-weight: bold;

}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #212121;
  color: #fff;
}
.clock-container {
  position: relative;
}

.clock {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.25);
  box-shadow: 0 0 30px rgba(0, 0, 0, .9);
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock span {
  position: absolute;
  transform: rotate(calc(30deg * var(--i)));
  inset: 12px;
  text-align: center;
}
.clock span b{
  transform: rotate(calc(-30deg * var(--i)));
  display: inline-block;
  font-size: 1.2rem;
}


.clock::before{
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #fff;
}
.hand{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.hand i{
  position: absolute;
  background-color: var(--clr);
  width: 4px;
  height: var(--h);
  border-radius: 8px;
}

.digital-cont {
  display: flex;
  flex-direction: column;
}
.digital-cont h1 {
  letter-spacing: 8px;
  padding: 16px 0;
  text-align: center;
}
.dig-clock {
  display: flex;
  
  
}
.dig-clock div {
  position: relative;
  margin: 4px;

}
.dig-clock span {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  width: 100px;
  height: 84px;
  background-color: hsl(160, 85%, 42%);
  font-size: 2.75rem;
  font-weight: bold;
  
}

#text {
  height: 33px;
  font-size: 1rem;
  background-color: hsl(160, 85%, 32%);
  font-weight: 500;
}